<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/dt0ig5ab';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<% active= {"get-started"=>:inactive, "graph-platform"=>:inactive, "cypher"=>:inactive, "data-modeling"=>:inactive,"data-import"=>:inactive,"graph-visualization"=>:inactive,"language-guides"=>:inactive,
"ecosystem"=>:inactive,"in-production"=>:inactive, "graph-apps"=>:inactive}
active[(@document.attr "section-link", "get-started")]=:active;
%>
<%= File.new(File.dirname(__FILE__) + "/../style_partial.erb").read %>
<div class="content-wrapper">
  <div class="dev-menu-nav large-2 hide-for-medium-only hide-for-small-only columns">
    <%= File.new(File.dirname(__FILE__) + "/../menu_partial.erb").read.gsub(/[\w-]+-activate/) { |m| active[m.gsub(/-activate/,"")].to_s } %>
  </div>
  <div class="guide-section-content large-8 columns">
    <h1 class="entry-title"><%= (doctitle(:sanitize => true) || (attr 'untitled-label')) %></h1>
    <%= content %>
  </div><%
  if @document.attr? :toc
    toc_id = @id
    toc_class = 'guide-toc'
    toc_role = (attr :role, (@document.attr 'toc-class', 'toc'))
    toc_title_id = nil
    toc_title = title? ? title : (@document.attr 'toc-title')
    toc_levels = (attr? :levels) ? (attr :levels).to_i : (@document.attr :toclevels, 2).to_i
    if !toc_id && (@document.embedded? || !(@document.attr? 'toc-placement'))
      toc_id = 'guide-toc'
      toc_title_id = 'toctitle'
    end
    %><div<%= toc_id && %(id="#{toc_id}") %> <%= toc_class && %(class="#{toc_class} large-2 hide-for-medium-only hide-for-small-only columns") %>>
        <ul class="side-nav">
          <dl class="accordion">
            <dd class="accordion-navigation active"><%
              if toc_title %>
                <h3<%= toc_title_id && %(id="#{toc_title_id}") %>><%= toc_title %></h3><%
              end %>
              <div id="nav" class="toc content active">
                <% toc = converter.convert @document, 'outline', :toclevels => toc_levels %>
                <%= toc %>
                <% end %>
              </div>
            </dd>
          </dl>
        </ul>
      </div>
    <div class="clearfix"></div>
</div>

<script>
$(document).ready( function() { 
  window.Intercom("boot", {
    app_id: "dt0ig5ab",
    hide_default_launcher: true
  });

 var userInfo = Cookies.getJSON("com.neo4j.accounts.userInfo");
 if (typeof userInfo !== 'undefined') {
   var expiresAt = userInfo.exp;
   var currentTime = Math.ceil((new Date()).getTime() / 1000);
   if (expiresAt > currentTime) {
     window.Intercom("update", {
       app_id: "dt0ig5ab",
       name: userInfo.name,
       email: userInfo.email,
       user_id: userInfo.sub
     });
   }
 }
});
</script>
