<!--
title: <%= doctitle(:sanitize => true) %>
level: <%= attr :level %>
author: <%= attr :author %>
email: <%= attr :email %>
developer_section_name: <%= attr :section %>
developer_section_slug: <%= attr "section-link" %>
-->
<%=  File.new("_templates/wordpress/style_partial.erb").read %>
<div class="row" style="padding-left: 0; padding-right: 0; padding-top: 1em;">
   <div class="large-9 large-push-3 columns guide-section-content">
   <%= content %>
   </div>
   <div class="large-3 large-pull-9 columns" id="dev-menu-nav">
   <%= File.new("_templates/wordpress/menu_partial.erb").read %>
   </div>
</div>
