<% active= {"what-is-neo4j"=>:inactive, "cypher"=>:inactive, "data-modeling"=>:inactive,"working-with-data"=>:inactive,"language-guides"=>:inactive,
"ecosystem"=>:inactive,"in-production"=>:inactive}
active[(@document.attr "section-link", "what-is-neo4j")]=:active;
%>
<!doctype html> <!--[if IE 9]>
<html class="no-js ie9" lang="en">
   <![endif]-->
<html class="no-js" lang="en">
<%= File.new("_templates/head_partial.erb").read %>
<body>
<%= File.new("_templates/top_bar_partial.erb").read %>
<div class="marquee blue">
    <div class="row text-center">
        <div class="medium-10 small-centered columns">
            <h1 class="entry-title"><%= (doctitle(:sanitize => true) || (attr 'untitled-label')) %></h1>
        </div>
    </div>
</div>
<article id="content" role="main">
    <p class="lead">lead text</p>
    <section class="row">
        <div style="padding-left: 1em; padding-right: 1em;">
            <div class="row" style="padding-top: 10px;">
                <div class="columns large-12" style="padding-top:10px;">
                    <ul class="breadcrumbs">
                        <li><a href="/developer-resources">Developer Guides</a></li>
                        <% if ((@document.attr :section, 3) == 3) %>
                        <li><a href="../"><%= (@document.attr :section, "Guide") %></a></li>
                        <% end %>
                        <li class="current"><a href="#"><%= (doctitle(:sanitize => true) || (attr 'untitled-label')) %></a></li>
                    </ul>
                </div>
            </div>
            <%= File.new("_templates/style_partial.erb").read %>
            <div>
                <div class="row" style="padding-left: 0; padding-right: 0;">
                    <div class="large-9 large-push-3 columns guide-section-content">
                        <%= content %>
                    </div>
                    <div class="large-3 large-pull-9 columns">
                        <%= File.new("_templates/menu_partial.erb").read.gsub("/developer/","/developer-resources/").gsub(/[\w-]+-activate/) { |m| active[m.gsub(/-activate/,"")].to_s } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row text-center hide-for-small hr-style">
        <div class="medium-5 columns">
            <hr>
        </div>
        <div class="medium-2 columns">
            <object height="100%" width="100%"
                    data="http://neo4j.com/wp-content/themes/neo4jweb/assets/images/hr-image.svg"
                    type="image/svg+xml"></object>
        </div>
        <div class="medium-5 columns">
            <hr>
        </div>
    </div>
    <div class="row text-center show-for-small">
        <div class="medium-12 columns">
            <hr>
        </div>
    </div>
    <section class="row">
        <div class="medium-4 columns"></div>
    </section>
    <section class="row">
        <div class="small-12 columns"></div>
    </section>
</article>
<%= File.new("_templates/footer_partial.erb").read %>
</body>
</html>
